body {
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: lighten;
    background-size: cover;
}

.textMainWrapper {
    text-align: center; /* the entire text block */
}

.textMain {
    width: 60%;
    text-align: justify; /* the text within it */
    display: inline-block;
}