@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates:900');

body { /* all pages */
    background-repeat: repeat-y;
    background-position: center;
    background-attachment: scroll;
    background-blend-mode: lighten;
} hr {
    opacity: 0.333;
}

.splash { /* Landing page */
    font-family: 'Fredoka One';
    font-size: 48px;
    text-shadow: 3px 3px 3px #aaa;
    text-align: center;
    /* how to center an element (multi-viewport) */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    right: 25%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}.vscode { /* Logo image size */
    height: 33%;
    width: 33%;
    opacity: 0.6;
}.centered {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main body text styling */
.textMainWrapper { /* This encloses textMain */
    text-align: center; /* the entire text block */
}.textMain {
    width: 60%;
    text-align: left; /* This is enclosed within textMainWrapper */
    display: inline-block;
    font-family: 'Muli';
    font-size: 17px;
    opacity: 0.7; /* 0.75 previously good */
    text-shadow: 0.5px 0.5px 3.3px #666; /* h-shadow, v-shadow, blur radius */
/*Oxygen,Nunito,Poppins,Ubuntu,Arvo,Rubik,Montserrat,Roboto,Archivo,IBM Plex,Muli*/
}

/* All hyperlinks */
a {
    color: black;
    text-decoration: none;
}

/* "Navbar" left and "Navbar" right */
.flex-container {
    display: flex;
    background-color: black;
    border-radius: 25px;
    opacity: 0.5;
    flex-wrap: nowrap;
    justify-content: space-between;
}.flex-container > div {
    margin: 0; padding: 0;
    text-align: center;
}.logo {
    font-family: 'Fredoka One'; font-size: 48px;
    text-shadow: 0.5px 0.5px 4px #666;
    padding-left: 25px;
    color: white;
    opacity: 0.75;
}
.cont2 {
    flex-direction: row;
}.box {
    font-family: 'Fredoka One'; font-size: 48px;
    text-shadow: 0.5px 0.5px 8px #666;
    width: auto;
    color: white;
    opacity: 0.75;
    padding-right: 25px;
}

/* Fixed Footer */
html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
.demo {
    margin: 0 auto;
    padding-top: 64px;
    max-width: 640px;
    width: 94%;
}
.demo h1 {
    margin-top: 0;
}
.footer {
    position: fixed;
    right: 0;bottom: 0;left: 0;
    padding: 1rem;
    opacity: 0.3;
    text-align: right;
    font-family: 'Fredoka One'; font-size: 16px;
    text-shadow: 0.5px 0.5px 4px #666;
}

/* Dropdown Button */
.dropbtn {
    background-color: black;
    color: white;
    /* padding: 16px; */
    /* font-size: 16px; */
    border: none;
    cursor: pointer;
    /* opacity: 0.75; */
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: black;
    /* opacity: 0.75; */
}
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /* opacity: 0.75; */
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    /* min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    opacity: 1;
    border-radius: 25px;

}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    /* padding: 12px 16px; */
    text-decoration: none;
    padding-left: 127px;
    display: block;
    opacity: 0.75;
    border-radius: 25px;

}  
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: black}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}